img{margin-left:auto ;margin-right: auto; display: block;}
#tag{
    overflow: hidden;
    background-color: #de1a1a;color: white;
  }
  
  #tag a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #tag a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #tag a.active {
    background-color: #04AA6D;
    color: white;
  }
  #th {background-color: #f3f8f9;
    float: right
   borde;}
   #pu {float: left;} 
